# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DoodleJumpClone.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\for Unity\DoodleJumpClone\.idea\.idea.DoodleJumpClone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
